/* Propriedades de cor fontes entre outras */

:root {
    /* Cores Que Serão do site */
    --color1: #FFFFFA;
    --color2: #048ABF;
    --color3: #049DBF;
    --color4: #012340;
    --color5: #101A26;

    --bg-fundo: #D8FFDB;
    --bg-main: #d8ffdb91;
}

.volt {
    position: absolute;
    top: 15%;
    left: 15%;
}

.volt a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color1);
    font-size: 1.5em;
    font-weight: 600;
    transition: background 0.3s ease-in;
}

.volt a:hover {
    background-color: var(--color2);
}

form {
    top: 53% !important;
}

@media (min-width: 720px) {
    .volt {
        left: 28%;
    }

    form {
        top: 60% !important;
    }
}