/* Propriedades de cor fontes entre outras */

:root {
    /* Cores Que Serão do site */
    --color1: #FFFFFA;
    --color2: #048ABF;
    --color3: #049DBF;
    --color4: #012340;
    --color5: #101A26;

    --bg-fundo: #D8FFDB;
    --bg-main: #d8ffdb91;
}

main {
    height: 70vh;
    padding: 0;
}

.container {
    height: auto;
}

.sala {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sala p {
    position: relative;
    width: 70%;
    color: var(--color1);
    font-weight: 600;
}

.sala a {
    text-align: center;
    position: relative;
    width: 20%;
    padding: 5px;
    color: rgb(233, 42, 42);
}

footer {
    position: absolute;
}

@media (min-width: 760px) {
    .container {
        margin-top: 8%;
    }

    .container .sala {
        height: 120px;
    }

    .sala p {
        width: 60%;
    }

    .sala a {
        width: 100px;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 960px) {
    .container {
        margin-top: 4%;
    }
}